a {
    text-decoration: underline
}
body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer a {
    background: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
h1 {
    color: #333;
}
h2 {
    color: #555;
}
h3 {
    margin-top: 20px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
img {
    border: 0
}
main {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Allow main content to scroll if necessary */
    box-sizing: border-box; /* Ensure padding is included in the width */
}
nav {
    width: 150px; /* Set a fixed width for the navigation */
    background: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Ensure padding is included in the width */
}
nav a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
nav a:hover, nav a.linkActionHi {
    background: #ddd;
}
ol, ul {
    margin-left: 20px;
}
ol li, ul li {
    margin-bottom: 10px;
}
p {
    margin: 10px 0;
}
table {
    border: 0
}

#overDiv {
    position: absolute;
    visibility: hidden;
    z-index: 1000;
}

.container {
    margin: auto;
    padding: 20px;
    flex: 1;
    display: flex;
    height: calc(100vh - 50px); /* Adjust height to ensure footer is visible */
}
.def {
    cursor: help;
    color: blue
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 100px;
}
.intro {
    font-size: 1.2em;
}
.paypal, .social, .copyright {
    display: inline-block;
    margin: 0 10px;
}
.section {
    margin-bottom: 20px;
}
.source {
    font-size: 0.9em;
    color: #888;
}
.source a {
    color: #888;
    text-decoration: none;
}
